<h1>Zable / <%= title %> </h1> 
<!-- --------------------------------- -->
<section id="feed-post">
  <h4>Post</h4>
  <% if(locals.user){ %> 
  <form action="/posts/create" id="new-post-form" method="post">
    <textarea name="content" cols="30" rows="3" placeholder="Type hear..." required></textarea>
    <input type="submit" value="Post">
  </form>
  <% } %> 

  <div id="posts-list-container">
    <ul>
      <% for(post of posts){ %> 

        <%-include('_posts')-%> 

      <% } %> 
    </ul>
  </div>
</section>