<div>
    <p>Hye <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong>just got published on Zable .</p>
    <br>
    <br>
    <p>Thank You for usning Zable</p>
</div>