header {
  background-color: darkorange;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 4px 12px;
}

header ul li {
  list-style: none;
}

header ul li input {
  border: 0.5px solid gray;
  border-radius: 4px;
  background-color: cyan;
  padding: 8px;
  width: 150%;
}

header ul li a {
  text-decoration: none;
}
